<!-- {% extends 'index.html' %}

{% block content %}

<h1>Hello, Bootstrap add content1 </h1>

{% endblock %} -->

{% extends 'index.html' %}

<!-- {% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %} -->

{% block content %}
    <!-- <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input type="submit" value="Log In">
    </form> -->
{% endblock %}